extends layout
- var search = {status : 'start'}
block content

  h1 Ну, понеслась.. wellcome to #{title}
  p
    | Постарайся, анон-кун,
    | и найди тян, наконец.
  p.
    удачи :3
  h1 ^__# Good luck!!~ <3
  form(name="form2", action="/search:start", method="get")
    table
      tr
        td
          b.
            q:
        td
          input(type="text", name="q", value="Лаура")
      tr
        td
          b.
            age_from:
        td
          input(type="text", name="age_from", value="18")
      tr
        td
          b.
            age_to:
        td
          input(type="text", name="age_to", value="25")
      tr
        td
          b.
            sex:
        td
          input(type="text", name="sex", value="")
      tr
        td
          b.
            city:
        td
          input(type="text", name="sity", value="")
      tr
        td
          b.
            interests:
        td
          input(type="text", name="interests", value="")
      tr
        td
          b.
            university:
        td
          input(type="text", name="university", value="")
      tr
        td
          b.
            gradyear:
        td
          input(type="text", name="gradyear", value="")
      tr
        td
          b.
            sp:
        td
          input(type="text", name="sp", value="")

      tr
        td
          b.
            lets_search:
        td
          input(type="submit", name="submit",value="search")